@media screen {

header {
        position: relative;
}
    
img{
       width: 500px;
       height: 500px;
       
}
   

.float_left {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.float_right {
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
figure figcaption{
       text-align: center;
}
p{
       font-size: 15px;
       position: relative;
       width: 500px;
       text-align: center;
}
}